<a href="http://localhost:4200/exonerado/agregar" class="btn btn-success my-1 mx-2">
    <i class="fas fa-plus"></i>
</a>
<a href="http://localhost:4200/" class="btn btn-warning my-1">
    <i class="fa fa-eye"></i>
</a>
<table class="table table-striped mt-3 mx-3">
    <thead>
        <tr>
            <th scope="col">Identificacion</th>
            <th scope="col">Fecha</th>
            <th scope="col">Id Usuario</th>
            <th scope="col">Asignatura</th>
            <th scope="col">Nota</th>
            <th scope="col">Estado</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    {{#each exonerados}}
    <tbody>
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.fecha}}</td>
            <td>{{this.iduser}}</td>
            <td>{{this.asignatura}}</td>
            <td>{{this.nota}}</td>
            <td>{{this.estado}}</td>
        </tr>
    </tbody>
    {{/each}}
</table>